<div class="form-group px-5 items-justify-center">
    <label for="title"> Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title"
    class="items-center border-2 w-full">

    
</div>
<div class="form-group px-5 items-justify-center">
    <label for="category"> Category</label>
    <input value="<%= article.category %>" type="text" name="category" id="category"
    class="items-center border-2 w-full">

    
</div>
<div class="form-group px-5 items-justify-center">
    <label for="description"> Description</label>
    <textarea name="description" id="description"
    class="items-center border-2 w-full"><%= article.description %></textarea>

    
</div>
<div class="form-group px-5 items-justify-center">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown"
    class="items-center h-64 border-2 w-full"><%= article.markdown %></textarea>

    


<div class="px-5 py-2">

    <a href="/" class="bg-gray-700 text-white">Cancel</a>
    <button type="submit" class="bg-blue-700 text-white ">Save</button>
</div>
